/* Sidebar on video pages */
/* #secondary, #related { display: none !important; } */

/* "Up next" autoplay */
ytd-compact-autoplay-renderer { display: none !important; }

/* Hide shorts shelf on subscriptions page */
ytd-rich-shelf-renderer[is-shorts] { display: none !important; }